.signupContainer {
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(20px); /* for Safari */
  background: rgba(255, 255, 255, 0.08); /* almost transparent */
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.37);
  border-radius: 1rem;
  padding: 2rem;
}
.pageWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100vw;
  background: 
  linear-gradient(135deg, #1e1b4b, #6d28d9, #8b5cf6),
  url("https://www.transparenttextures.com/patterns/diagmonds-light.png"); /* C:\Users\shant\Downloads\2025-08-19 16_31_55-.png*/
background-size: cover;
background-blend-mode: overlay;
}

/* Title and subtitle */
.signupTitle {
  font-size: 24px;
  font-weight: bold;
  color: #E9D5FF;
  text-align: center;
}

.signupSubtitle {
  font-size: 16px;
  color: #D1D5DB;
  margin-bottom: 20px;
  text-align: center;
}

/* Form styling */
.signupForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputField {
  width: 150%;
  max-width: 300px;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #bc71e8;
  border-radius: 5px;
  font-size: 16px;
  background-color: white;
  color: #1F2937;
}

/* Signup Button */
.signupButton {
  width: 150%;
  max-width: 325px;
  padding: 10px;
  background-color: rgb(176, 111, 176);
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.signupButton:hover {
  background-color: rgb(201, 143, 201);
}

/* Message after signup */
.signupMessage {
  font-size: 14px;
  color: #FFFFFF;
  margin-top: 20px;
}


