/* Make sure Home page styles apply only to Home */

.home-container {
  color: black;
  height: 100vh; /* Full screen height */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Style the title */
.home-title {
  font-size: 24px;
  font-weight: bold;
}

/* Highlight "New Here?" */
.highlight-text {
  color: white;
  font-weight: bold;
}

/* Login Form */
.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

/* Style input fields */
.input-field {
  width: 80%;
  max-width: 300px;
 
  font-size: 16px;
}

/* Login Button */
.login-button {
  width: 80%;
  max-width: 300px;
  padding: 10px;
  background-color: #007BFF;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.login-button:hover {
  background-color: greenyellow;
}

/* Warning Message */
.warning-text {
  color: rgb(128, 46, 46);
  font-weight: bold;
  margin-top: 20px;
}

/* Disclaimer */
.disclaimer {
  font-size: 14px;
  color: gray;
  margin-bottom: 20px;
}

